          path: bin/*.apk
name: Build Android APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2

      # 1. Bersihkan Disk (Supaya muat)
      - name: Free Disk Space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: false
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          swap-storage: true

      # 2. Install Bumbu Dapur (Dependencies Linux)
      - name: Install System Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libltdl-dev libffi-dev libssl-dev python3-dev git zip unzip openjdk-17-jdk autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake

      # 3. Install Buildozer & Cython Khusus
      - name: Install Buildozer & Cython
        run: |
          pip3 install --upgrade pip
          pip3 install buildozer
          pip3 install "cython<3.0.0"

      # 4. Masak APK (Dengan perintah YES otomatis)
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug

      # 5. Upload Hasilnya
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: autotube-apk
          path: bin/*.apk
